@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

#zabo-embed {

}


.banner {
  font-family: NanumSquare, sans-serif;
  background-color: #12397D;
  border-radius: 6px;
  padding: 22px 24px;

  button {
    color: red;
  }
}
