@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');


.serviceLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 16px;
  }

  & > svg {
    width: 11px;
    height: 22px;
  }
}

:global(.primary) .serviceLogo {
  color: rgba(255, 255, 255, 0.6);
}
